alembic
annotated-types
anyio
bcrypt
cffi
celery
click
colorama
coverage
cryptography
dlib
dnspython
ecdsa
email_validator
face-recognition
face_recognition_models
fastapi
greenlet
h11
httpx
idna
iniconfig
Mako
MarkupSafe
numpy
openpyxl
onnxruntime
opencv-python-headless
packaging
passlib
pillow
pluggy
psycopg2-binary
redis
pyasn1
pycparser
pydantic
pydantic_core
pytest
pytest-cov
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy
SQLAlchemy-Utils
starlette
typing-inspection
typing_extensions
uvicorn